<h3>Register Web API User</h3>

<div class="row">
<div class="col-lg-3">
<form [formGroup]="myFormRegister" (ngSubmit)="onSubmitRegister(myFormRegister)">
    <div>
      <label>
        Username:
        <input formControlName="username" placeholder="UserName" required="true" class="form-control" >
      </label>
    </div>
    <div>
      <label>
        Password:
        <input formControlName="password" placeholder="Password" required="true" class="form-control" >
      </label>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
</div>
<div class="col-lg-3"><label id="label_register_status">{{registerStatus}}</label></div>
<div class="col-lg-3"></div>
</div>

<br>

<h3>Login Web API User</h3>

<div class="row">

<div class="col-lg-3">
<form [formGroup]="myFormLogin" (ngSubmit)="onSubmitLogin(myFormLogin)">
    <div class="form-group">
      <label for="username_login">
        Username:
      </label>
        <input formControlName="username_login" id="username_login" placeholder="UserName" required="true" class="form-control">
      
    </div>
    <div class="form-group" >
      <label for="password_login">
        Password:
      </label>
        <input formControlName="password_login" id="password_login" placeholder="Password" required="true" class="form-control" >
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
</div> 

<div class="col-lg-3" >
    
        <div>
          <label>
            Jason Web Token:  
        </label>
        <br>
            <textarea rows="5" cols="50" id="jason_web_token" class="form-control" [ngModel]="jSONWebToken" ></textarea>
        </div>
    
  </div>
  <div class="col-lg-3" ></div>
  </div>
  
